<%- include('partials/header.ejs') %>

  <div class="jumbotron text-center">
	  <h1>Scooter Rentals</h1>
	  <p> Set Up Rental</p>
  </div>
	<!-- background color 430541-->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/signUp">Sign Up</a></li>
				<li><a href="/rent">Rent</a></li>
				<li><a href="/choose" class="active-page">Choose</a></li>
				<li><a href="/contact">Contact</a></li>
        <li><a href ="/rubric">Grading Rubric</a></li>
			</ul>
		</div>
	</nav>
	<div class="container-fluid bg-1 text-center">
    <h2 id="rentText">Which vehicle?</h2>
		<!-- choose Vehcile = cV -->
		<select id="cV" class = "form-control ">
      <option value ="">Select One</option>
      <option value ="eS">e-Scooter</option>
      <option value ="eB">e-Bike</option>
    </select>
  </div>
  <div class="container-fluid bg-1 text-center">
    <label for ="rTime">Select time in hours:</label>
    <select class ="form-control" id="rTime"></select>
  </div>

<%- include('partials/footer.ejs') %>