<%- include('partials/header.ejs') %>

  <div class="jumbotron text-center">
    <h1>Scooter Rentals</h1>
    <p>Grading Rubric</p>
  </div>
  <!-- background color 430541-->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li ><a href="/">Home</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/rent">Rent</a></li>
        <li><a href="/choose">Choose</a></li>
        <li><a href ="/contact">Contact</a></li>
        <li><a href ="/rubric" class="active-page">Grading Rubric</a></li>
      </ul>
    </div>
  </nav>
  <div class="bg-1">
    <p><strong>Minimum requirements:</strong></p>
    <p>If any of the following elements is missing, you will get deducted 20 points.</p>
    <table border="1" cellpadding="3" style="width: 704px; height: 104px;">
      <tbody>
      <tr>
      <td><span style="font-size: small;">Final Report must include&nbsp;Title, Description, Task distribution,&nbsp;Changes from original design,&nbsp;Database Schema&nbsp;and&nbsp;Screenshots of finished product</span></td>
      <td rowspan="5">
      <p><span style="font-size: small;">-20pts</span><br><span style="font-size: small;">(if</span><br><span style="font-size: small;">missing any)</span></p>
      </td>
      </tr>
      <tr>
      <td><span style="font-size: small;">Web pages must use Semantic Tags (as much as possible)</span></td>
      </tr>
      <tr>
      <td><span style="font-size: small;">JavaScript and CSS code must be in external files</span></td>
      </tr>
      <tr>
      <td><span data-mce-mark="1" style="font-size: small;">Upload all files as a zip file, <strong>including database records</strong> (export it in SQL Format)</span></td>
      </tr>
      </tbody>
    </table>
    <p></p>
    <p><strong><span style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; font-size: 1rem;">Feature R</span></strong><strong style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; font-size: 1rem;">equirements:</strong></p>
<table border="1" cellpadding="3" style="width: 675px; height: 262px;">
<tbody>
<tr style="background-color: #f5f5dc;">
<td><strong><span style="font-size: small;">Requirement</span></strong></td>
<td><strong><span style="font-size: small;">Points</span></strong></td>
</tr>
<tr>
<td><span style="font-size: small;">Project allows user interaction with at least three different types of form elements (text box, select, radio, checkbox, etc).&nbsp;</span></td>
<td style="text-align: center;"><span style="font-size: small;">15</span></td>
</tr>
<tr>
<td><span data-mce-mark="1" style="font-size: small;">Project uses at least three database tables with at least 10 fields (combined)</span></td>
<td style="text-align: center;"><span style="font-size: small;">10</span></td>
</tr>
<tr>
<td><span style="font-size: small;">Project uses <span style="text-decoration: underline;"><a href="https://www.w3schools.com/html/html5_webstorage.asp" target="_blank" class="external" rel="noreferrer noopener"><span>Web storage</span><span aria-hidden="true" class="ui-icon ui-icon-extlink ui-icon-inline" title="Links to an external site."></span><span class="screenreader-only">&nbsp;(Links to an external site.)</span></a>&nbsp;</span>or Sessions</span></td>
<td style="text-align: center;"><span style="font-size: small;">10</span></td>
</tr>
<tr>
<td><span data-mce-mark="1" style="font-size: small;"><span>Project allow users to update existing records in the database, in a friendly way&nbsp;</span><span>(data is pre-filled)</span></span></td>
<td style="text-align: center;"><span style="font-size: small;">15</span></td>
</tr>
<tr>
<td><span data-mce-mark="1" style="font-size: small;">Project allow users to add records to the database</span></td>
<td style="text-align: center;"><span style="font-size: small;">15</span></td>
</tr>
<tr>
<td><span style="font-size: small;"><span>Project must have&nbsp;</span><span>at least 100 lines</span><span>&nbsp;of JavaScript/jQuery code</span></span></td>
<td style="text-align: center;"><span style="font-size: small;">10</span></td>
</tr>
<tr>
<td>
<span style="font-size: small;">Project includes at least three local or external Web APIs</span><br><span style="font-size: small;">As part of your submission, please explain where the Fetch calls are.</span>
</td>
<td style="text-align: center;"><span style="font-size: small;">15</span></td>
</tr>
<tr>
<td><span style="font-size: small;">Project has a nice, professional and consistent design, free of typos. <br>Uses at least 50 CSS properties or Bootstrap.</span></td>
<td style="text-align: center;"><span style="font-size: small;">10</span></td>
</tr>
</tbody>
</table>
</div>

<%- include('partials/footer.ejs') %>