  </body>
  <hr />
    <footer class="footer">
      <figure>
        <img src="/img/CSUMB-Logo.png" alt="CSUMB Logo" />
      </figure>
      <strong>CST336: Internet Programming</strong><br />
      <strong>Disclaimer:&nbsp</strong>The Information in this webpage is fictitious & used for academic purposes only.<br /><br />
      2021&copy; Team01<br />
      <address>
        Written by <a href="mailto:team01@csumb.edu">Team01</a><br><br />
        Visit us at:<br />
        <a href="csumb.edu">CSUMB</a><br />
        5108 Fourth Avenue<br />
        Marina, CA 93933
      </address>
    </footer>
  </body>
</html>