<!DOCTYPE html>
<html=en>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width"></meta>
    <title>Group Project</title>
    <!-- always put bootstrap before stylesheets locally -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="/css/style.css" rel="stylesheet" type="text/css" /> 
    <script src="js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>